#title-label{
    -fx-font-family: "Rockwell Condensed";
    -fx-font-size: 70px;
    -fx-text-fill: white;
}

#title-label:hover{
    -fx-text-fill: #cfcbcb;
}
#title2-label{
    -fx-font-size: 33px;

}
#copy-label{
    -fx-font-family: Serif;
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
.label{
    -fx-font-family: "Rockwell Condensed";
    -fx-font-size: 21px;


}
#back-button{
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-background-size: 20px;
}


.button{
    -fx-background-size: 45px;
    -fx-background-color: #960f0f;
    -fx-border-width: 5px;
    -fx-background-radius: 7px;
    -fx-border-radius: 5px;
    -fx-border-color: #000000;
    -fx-font-size: 15px;
    -fx-font-family: "High Tower Text";
    -fx-text-fill: white;
    -fx-font-size: 20;
}
.button:hover{
    -fx-background-color: #a22727;
    -fx-cursor: hand;
}
.dialog-pane .label {
    -fx-font-family: "High Tower Text";
    -fx-font-size: 18px;
}